{% extends 'NeikeqClubsBundle:Default:templates/base.html.twig' %}

{% block title %}Advanced{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'bundles/neikeqclubs/css/clubform.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@NeikeqClubsBundle/Resources/public/js/popover.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function(){
            $('#removeButton').on('click', function (e) {
                if ($('#removeCheckBox').prop('checked')) {
                    $('#removeClubModal').modal();
                } else {
                    $('#removeButton').prop("disabled", true);
                }
            });

            $('#removeCheckBox').on('change', function (e) {
                if ($(this).prop('checked')) {
                    $('#removeButton').prop("disabled", false);
                } else {
                    $('#removeButton').prop("disabled", true);
                }
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    {% include 'NeikeqClubsBundle:Default:templates/navbar.html.twig' %}
{% endblock %}

{% set membership_popover %}
    {% filter escape %}
        {% include 'NeikeqClubsBundle:Default:templates/membership.html.twig' %}
    {% endfilter %}
{% endset %}

{% block container %}
    {% if success|length > 0 %}
        <div style="display:table; width:100%;" role="alert" class="alert alert-success">
            {% for success_message in success %}
                <p style="display:table-cell; vertical-align:middle">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    {{ success_message }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    {% if errors|length > 0 %}
        <div style="display:table; width:100%;" role="alert" class="alert alert-danger">
            {% for error in errors %}
                <p style="display:table-cell; vertical-align:middle">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <legend>Advanced Settings</legend>

            <form class="form-horizontal form-club" role="form" method="post"
                action="{{ path('kicks_clubs_manager_advanced') }}">
                <div class="form-group">
                    <div class="col-xs-3 text-right">
                        <label>Membership mode:</label>
                    </div>
                    <div class="col-xs-9">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary {% if membership_mode == "APPROVED" %}active{% endif %}">
                                <input type="radio" name="membership" value="APPROVED"
                                    {% if membership_mode == "APPROVED" %}checked{% endif %} required>
                                Approved
                            </label>
                            <label class="btn btn-primary {% if membership_mode == "IMMEDIATE" %}active{% endif %}">
                                <input type="radio" name="membership" value="IMMEDIATE"
                                    {% if membership_mode == "IMMEDIATE" %}checked{% endif %} required>
                                Immediate
                            </label>
                            <label class="btn btn-primary {% if membership_mode == "DISCONTINUED" %}active{% endif %}">
                                <input type="radio" name="membership" value="DISCONTINUED"
                                    {% if membership_mode == "DISCONTINUED" %}checked{% endif %} required>
                                Discontinued
                            </label>
                        </div>

                        <a tabindex="0" class="btn btn-link" role="button" data-container="body"
                            data-toggle="popover" data-trigger="hover" data-placement="right"
                            data-html="true" data-content="{{ membership_popover }}">
                            ?
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-9">
                        <button type="submit" class="btn btn-lg btn-success col-lg-5">Save</button>
                    </div>
                </div>
            </form>

            <legend>Remove Club</legend>

            <div class="col-xs-2 text-right"></div>
            <div style="margin-bottom: 10px" class="col-xs-9">
                <label class="checkbox-inline">
                    <input id="removeCheckBox" type="checkbox" name="remove_club" value="remove_club" autocomplete="off">
                    I want to remove my club.
                </label>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-9">
                <button id="removeButton" type="button" class="btn btn-lg btn-danger col-lg-5" autocomplete="off" disabled>
                    Remove
                </button>
            </div>
        </div>
    </div>

    <div id="removeClubModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirm to remove club</h4>
                </div>
                <div class="modal-body">
                    <p>Once you delete a club, there is no going back. Please be certain.</p>
                </div>
                <div class="modal-footer">
                    <form class="form-horizontal form-club" role="form" method="post"
                        action="{{ path('kicks_clubs_manager_remove_club') }}">
                        <input type="hidden" name="remove_club" value="remove_club">
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-danger">
                            Confirm and Remove
                        </button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
