{% extends 'NeikeqClubsBundle:Default:templates/base.html.twig' %}

{% block title %}Edit Information{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/neikeqclubs/css/clubform.css'
        'bundles/neikeqclubs/css/xbbcode.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@NeikeqClubsBundle/Resources/public/js/xbbcode.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function(){
            $('#descrPreviewTab a').click(function (e) {
                e.preventDefault();

                var descriptionSource = $('#descrText').val();

                var preview = XBBCODE.process({
                    text: descriptionSource,
                    removeMisalignedTags: false,
                    addInLineBreaks: true
                });

                $('#descrPreview').html(preview.html);

                $(this).tab('show');
            });

            $('#descrSourceTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    {% include 'NeikeqClubsBundle:Default:templates/navbar.html.twig' %}
{% endblock %}

{% block container %}
    {% if success|length > 0 %}
        <div style="display:table; width:100%;" role="alert" class="alert alert-success">
            {% for success_message in success %}
                <p style="display:table-cell; vertical-align:middle">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    {{ success_message }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    {% if errors|length > 0 %}
        <div style="display:table; width:100%;" role="alert" class="alert alert-danger">
            {% for error in errors %}
                <p style="display:table-cell; vertical-align:middle">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <legend>Edit Information</legend>

            <form class="form-horizontal form-club" role="form" method="post"
                action="{{ path('kicks_clubs_manager_information') }}">
                <div class="form-group">
                    <div class="col-xs-3 text-right">
                        <label>Description:</label>
                    </div>

                    <div class="col-xs-9">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="descrSourceTab" role="presentation" class="active">
                                    <a href="#descrSource"
                                        aria-controls="source" role="tab" data-toggle="tab">Source</a>
                                </li>
                                <li id="descrPreviewTab" role="presentation">
                                    <a href="#descrPreview"
                                        aria-controls="preview" role="tab" data-toggle="tab">Preview</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="descrSource" role="tabpanel" class="tab-pane active">
                                    <textarea id="descrText" class="form-control resizable-vertical text-source"
                                        name="description" rows="6" maxlength="512" placeholder="Club description">{{
                                        club_description
                                    }}</textarea>
                                </div>
                                <div id="descrPreview" role="tabpanel" class="tab-pane text-preview"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-9">
                        <button type="submit" class="btn btn-lg btn-primary col-lg-5">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
