{% extends 'NeikeqClubsBundle:Default:templates/base.html.twig' %}

{% block title %}Character{{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block navbar %}
    {% include 'NeikeqClubsBundle:Default:templates/navbar.html.twig' %}
{% endblock %}

{% block container %}
    <div class="panel panel-default login-panel col-lg-5">
        <div class="panel-body absolute-center">
            <form class="form-signin" role="form" action="/character_check" method="get">
                <h3 class="form-signin-heading">Select a character</h3>
                <div class="radio form-control">
                    {% for character in characters %}
                        <label>
                            <input type="radio" name="character" value="{{ character.slot }}"
                                {% if loop.first %}checked{% endif %} required>
                            {{ character.name }}
                        </label>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-info btn-block">Confirm</button>
            </form>
        </div>
    </div>
{% endblock %}
