{% extends 'NeikeqClubsBundle:Default:templates/base.html.twig' %}

{% block title %}Character{{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block navbar %}
    {% include 'NeikeqClubsBundle:Default:templates/navbar.html.twig' %}
{% endblock %}

{% block container %}
    <div class="panel panel-default login-panel col-lg-5">
        <div class="panel-body">
            <legend>Select a character</legend>
            <form class="form-signin" role="form" action="/character_check" method="get">
                <div class="btn-group btn-group-justified">
                    {% for character in characters %}
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-info" name="character" value="{{ character.slot }}">
                                {{ character.name }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
