{% extends 'NeikeqClubsBundle:Default:templates/base.html.twig' %}

{% block title %}Clubs{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'bundles/neikeqclubs/css/clubs.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@NeikeqClubsBundle/Resources/public/js/positions.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function(){
            $('#clubModal').modal({
                keyboard: true,
                show: false,
            }).on('show.bs.modal', function() {
                var clubId = $('#clubModal').data('clubId');

                // Make sure that Information is the active tab
                $('#clubModal').find('#tabMembers').removeClass('active');
                $('#clubModal').find('#navTabMembers').removeClass('active');
                $('#clubModal').find('#tabInfo').addClass('active');
                $('#clubModal').find('#navTabInfo').addClass('active');

                $.ajax({
                    url: '{{ path('kicks_clubs_ajax_club_info') }}',
                    type: 'POST',
                    data: { 'club_id' : clubId },
                    beforeSend : function() {
                        document.getElementById('clubView').style.display = 'none';

                        $('#clubModal').find('#clubName').html('Loading...');
                    },
                    success : function(result) {
                        var clubInfo = result;

                        document.getElementById('clubView').style.display = 'block';

                        $('#clubModal').find('#inputClubId').val(clubId);
                        $('#clubModal').find('#clubName').html(clubInfo['name']);
                        $('#clubModal').find('#clubManager').html(clubInfo['manager']);
                        $('#clubModal').find('#clubCreation').html(clubInfo['creation']);
                        $('#clubModal').find('#clubMembers').html(clubInfo['members'].length);
                        $('#clubModal').find('#clubMembership').html(clubInfo['membership']);
                        $('#clubModal').find('#clubDescription').html(clubInfo['description']);

                        var memberRows = '';

                        for (i = 0; i < clubInfo['members'].length; i++) {
                            var member = clubInfo['members'][i];

                            memberRows +=
                                '<tr>\
                                    <td class="col-md-5">' + member['name'] + '</td>\
                                    <td class="col-md-2">' + member['level'] + '</td>\
                                    <td class="col-md-2">' + position(member['position']) + '</td>\
                                    <td class="col-md-2">' + member['role'] + '</td>\
                                </tr>';
                        }

                        $('#clubModal').find('#clubMemberRows').html($(memberRows));
                    },
                    error : function(textStatus, errorThrows) {
                        $('#clubModal').find('#clubName').html('Could not load club info!');
                    }
                });
            });

            $(".table-clubs").find('tr[data-target]').on('click', function(){
                $('#clubModal').data('clubId', $(this).data('id'));
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    {% include 'NeikeqClubsBundle:Default:templates/navbar.html.twig' %}
{% endblock %}

{% block container %}
    <div class="panel panel-default panel-clubs">
        <div class="panel-body">
            {% if app.request.attributes.get('_route_params').page is defined %}
                {% set currentPage = app.request.attributes.get('_route_params').page %}
            {% else %}
                {% set currentPage = 1 %}
            {% endif %}

            <div class="row">
                <div class="col-lg-4 pull-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 pull-right">
                    <select class="form-control chosen-select" name="sort_options">
                        Sort
                        <option>Name Desc</option>
                        <option>Name Asc</option>
                        <option>Creation Desc</option>
                        <option>Creation Asc</option>
                        <option>Members Desc</option>
                        <option>Members Asc</option>
                        <option>Id Desc</option>
                        <option>Id Asc</option>
                    </select>
                </div>
            </div>

            <ol style="visibility:hidden;"></ol>

            <table class="table table-hover table-bordered table-clubs">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Manager</th>
                        <th>Members</th>
                        <th>Creation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for club in clubs %}
                        <tr class="clickable-row" data-toggle="modal" data-id="{{ club.id }}" data-target="#clubModal">
                            <td class="col-md-1"><b>{{ club.id }}<b></td>
                            <td class="col-md-5">{{ club.name }}</td>
                            <td class="col-md-2">{{ club.manager }}</td>
                            <td class="col-md-1">{{ club.members }}</td>
                            <td class="col-md-1">{{ club.creation }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav>
                <ul class="pagination">
                    <li class="{% if currentPage == 1 %}disabled{% endif %}">
                        <a href="/clubs/{{currentPage - 1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in range(1, pages) %}
                        <li class="{% if currentPage == i %}active{% endif %}">
                            <a {% if currentPage != i %}href="/clubs/{{i}}{% endif %}">
                                {{i}}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="{% if currentPage >= pages %}disabled{% endif %}">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="clubModal" class="modal fade" role="dialog" aria-labelledby="clubModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    {% if is_granted('ROLE_USER') and not player.role|grants('MEMBER') %}
                        <form action="{{ path('kicks_clubs_member_join') }}" method="post" aria-hidden="true">
                            <input id ="inputClubId" type="hidden" name="club_id">
                            <button type="submit" class="btn btn-success btn-sm pull-right">Join</button>
                        </form>
                    {% elseif player.role|grants('MEMBER') and not player.role|grants('MANAGER') %}
                        <form action="{{ path('kicks_clubs_member_leave') }}" method="post" aria-hidden="true">
                            <input id ="inputClubId" type="hidden" name="club_id">
                            <button type="submit" class="btn btn-danger btn-sm pull-right">Leave</button>
                        </form>
                    {% endif %}

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" id="navTabInfo">
                            <a href="#tabInfo" aria-controls="info" role="tab" data-toggle="tab">
                                Information
                            </a>
                        </li>
                        <li role="presentation" id="navTabMembers">
                            <a href="#tabMembers" aria-controls="members" role="tab" data-toggle="tab">
                                Members
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div id="clubView" role="tabpanel">
                        <!-- Tab panes -->
                        <div style="overflow: hidden" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tabInfo">
                                <div style="padding: 25px" class="col-md-12 col-lg-12">
                                    <div style="margin-left: 20px; margin-right:20px;" class="col-md-3 col-lg-3">
                                        <img src="http://kicksonline.eu/assets/master/images/logo.png"
                                             alt="Club Logo">
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <legend id="clubName"></legend>
                                        <table class="table table-club-info">
                                            <tbody>
                                            <tr>
                                                <td>Club Manager:</td>
                                                <td id="clubManager"></td>
                                            </tr>
                                            <tr>
                                                <td>Creation date:</td>
                                                <td id="clubCreation"></td>
                                            </tr>
                                            <tr>
                                                <td>Members:</td>
                                                <td id="clubMembers"></td>
                                            </tr>
                                            <tr>
                                                <td>Membership mode:</td>
                                                <td id="clubMembership"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-12 col-lg-12">
                                        <legend>Description</legend>
                                        <div class="well" id="clubDescription"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top: 25px" role="tabpanel" class="tab-pane" id="tabMembers">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Level</th>
                                            <th>Position</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody id="clubMemberRows"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
